<mat-list>
  <div mat-subheader>Planets</div>
  <mat-list-item mat-list-icon *ngFor="let planet of planets">
    <mat-icon onclick ="onPlanetClick()" mat-card-image
      src="../../../assets/planet.jpg" alt="Click to see more details. "></mat-icon>
    <div mat-line>name: {{planet.name}}</div>
    <div mat-line>population: {{planet.population}} </div>
  </mat-list-item>
</mat-list>

<mat-paginator [length]="length"
               [pageSize]="defaultPageSize"
               [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
