<mat-card class="planets">
  <mat-card-header>
    <mat-card-title>{{planet.name}}</mat-card-title>
    <mat-card-subtitle> population: {{planet.population}}</mat-card-subtitle>
  </mat-card-header>
  <img onclick ="getPlanetId(this.planet)" mat-card-image src="../../../assets/planet.jpg" alt="Click to see more details. ">
  <mat-card-content>
  </mat-card-content>
</mat-card>

<mat-paginator [length]="length"
               [pageSize]="defaultPageSize"
               [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
